<h1>SHOWING TRACK</h1>

<p>
<strong>Name:</strong>
<%= @track.name %>
</p>

<p>
  <strong>Artist</strong>
  <%= @track.artist %>
</p>

<p>
  <strong>URL:</strong>
  <%= @track.url %>
</p>

<%= link_to 'back', tracks_path %>
